@import '../../../../style/variables.scss';

.wrapper {
	box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
}
.container {
	width: 92%; //1240px
}
.blocks {
	height: 82px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	border-top: 1px solid rgba(78, 100, 249, 0.1);
}

