@import "../../style/variables.scss";

.footer {
	max-height: 250px;
	position: relative;
	padding: 39px 40px 49px 40px;
	display: grid;
	grid-template-columns: 1.5fr 17.5% 1.6fr 1fr;
	justify-content: space-between;
}

.textLogo {
	margin-top: 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: $grey-color;
	text-transform: uppercase;
}

.infoOrganization {
	margin-top: 36px;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: $grey-color;
}

.logo {
	width: 134px;
	height: 19px;
}

.footerMenu,
.flats ul:nth-child(1) li:nth-child(1) {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #1e2123;
}
.footerMenu {
	display: grid;
	grid-template-rows: repeat(3, 40px);
}
.flats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 18px 100px;
	row-gap: 12px;
}
.flatsList:nth-child(1) {
	grid-column: 1/3;
}
.flatsList:nth-child(2),
.flatsList:nth-child(3) {
	display: grid;
	grid-template-rows: repeat(3, 23px);
	align-items: center;
	grid-auto-rows: auto;
}

.flats,
.news {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: $grey-color;
}
.news {
	display: grid;
	grid-template-rows: 18px 100px;
	row-gap: 12px;
}

.newsList {
	display: grid;
	grid-template-rows: repeat(3, 23px);
	align-items: center;
	grid-auto-rows: auto;
}
.footerBlocks {
	width: 59vw;
	margin-top: 22px;
	display: flex;

	justify-content: space-between;
	align-items: center;
}
.footerSocial {
	width: 28%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerSocialText {
	margin-right: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #1e2123;
}

.footerPay {
	width: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.visa {
	width: 42px;
	height: 30px;
	object-fit: contain;
}
.webPay {
	width: 86px;
	height: 16px;
	object-fit: contain;
}
.verifiedVisa {
	width: 38px;
	height: 16px;
	object-fit: contain;
}
.masterCard {
	width: 26px;
	height: 20px;
	object-fit: contain;
}
.masterCardSecure {
	width: 46px;
	height: 16px;
	object-fit: contain;
}
.belCard {
	width: 22px;
	height: 30px;
	object-fit: contain;
}

@media only screen and (max-width: 1200px) {
	.footer {
		padding: 10px 30px;
	}
}

@media only screen and (max-width: 992px) {
	.footer {
		padding: 20px;
		grid-template-columns: repeat(2, 1fr);
		max-height: 305px;
	}
	.infoOrganization {
		margin-top: 15px;
		line-height: 18px;
	}
	.footerMenu {
		margin-top: 0;
		grid-template-columns: 1fr;
	}
	.footerBlocks {
		width: 46vw;
		margin-top: 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.footerSocial {
		width: 70%;
		margin-right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footerSocialText {
		font-weight: 700;
	}
	.footerPay {
		margin-top: 10px;
		width: 89%;
	}
	.flats {
		margin-top: 20px;
		grid-template-rows: 18px 68px;
	}
	.newsTitle {
		color: #1e2123;
		font-weight: 700;
	}
	.news {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.footer {
		padding: 20px 10px;
		grid-template-columns: 1fr;
	}
	.infoOrganization {
		margin-top: 15px;
		line-height: 18px;
	}
	.footerMenu {
		margin-top: 15px;
	}
	.footerBlocks {
		margin-top: 0;
	}
	.news {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 576px) {
	.footer {
		padding: 20px 10px;
		grid-template-columns: 1fr;
	}
	.footerBlocks {
		width: 87vw;
		margin-top: 4px;
	}
	.flats {
		grid-template-columns: 1fr;
		grid-template-rows: 18px 68px;
	}
	.footerSocial {
		width: 90%;
	}
	.footerPay {
		width: 100%;
	}
	.news {
		grid-template-rows: 18px 68px;
	}
}
