.wrapper {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.btn {
	padding: 9px 16px;
	background: #664EF9;
	border-radius: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnText {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.arrow {
	margin-left: 17px;
}